*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}
.newform{
    width: 90%;
    padding: 10px;
    border: 2px solid black;
    margin: auto;

}
input,label,select,button{
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;

}
.bookseat{
    background: rgb(75, 119, 9);
    color: azure;
    border-radius: 10px;
}
.pasangerlist{
    font-size: 0.7em;
}
.warning{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    color: red;
}